*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.frm_actualizar{
    width:500px;
    background-color:#ffffff;
    padding:30px;
    margin:auto;
    margin-top:auto;
    border-radius:4px;
}

.textos{
    width:100%;
    padding:10px;
    border-radius:4px;
    margin-bottom:16px;
    border: 1px solid #4800ff; 
}