
#contenedor{
    top:10%;
    width:60%;
    height:auto;
}
#contenedor_principal{
    top:5%;
    width: 60%;
    height:auto;
    background-color:#ffffff;
}
#txt_direccion{
    height:auto;
}
#cont{
    margin-left:5%;
    margin-right:5%;
    width:15px auto;
}

.mGrid {
    width:100%;
    background-color: #ffffff;
    margin: 5px 0 10px 0;
    border: solid 1px #525252;
    border-collapse: collapse;
}

    .mGrid td {
        padding: 2px;
        border: solid 1px #c1c1c1;
        color: #717171;
        text-align:center;
    }

    .mGrid th {
        padding: 4px 2px;
        color: #fff;
        background: #424242 url(grd_head.png) repeat-x top;
        border-left: solid 1px #525252;
        font-size: 0.9em;
        text-align:center;
    }