h2 {
    text-align: center;
}

.contenedor {
    width: 30%;
    margin-top: 13%;
    margin-left: auto;
    border: 5px;

}

table {
    margin-left:15%;
    border-collapse:collapse;
    width:20%;
}
table td{
    margin:auto;

}

div{
    background: url("../Imagenes/inicio.jpg" no-repeat 0 10%;
    padding: 2px 20px 2px 20px;
}










